<html ng-app="myApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/1.1.1/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js"></script>
    <script src="https://maps.google.com/maps/api/js"></script>
    <script src="https://rawgit.com/allenhwkim/angularjs-google-maps/master/build/scripts/ng-map.min.js"></script>
</head>

<body ng-controller="MyController">

    <!-- CHAT MARKUP -->
    <div class='example-chat l-demo-container'>
    <header>Firebase ForkID demo</header>
        
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
          <select id="" ng-model="selectedID" ng-options="c for c in idList">
            <option value="">-- Choose FORKID --</option>
        </select>
      </div>
    </div>
        
    Last update: <span ng-bind="lastMessage.timestamp">{{lastMessage.timestamp}}</span> Lat: <span ng-bind="lastMessage.lat">{{lastMessage.lat}}</span>, Long: <span ng-bind="lastMessage.long">{{lastMessage.long}}</span>      

    <map center="[{{lastMessage.lat}}, {{lastMessage.long}}]" zoom="19">
        <marker position="[ {{lastMessage.lat}}, {{lastMessage.long}} ]" />
         <shape name="polyline" path="[ {{lastMovement}} ]" geodesic="true" stroke-color="#FF0000" stroke-opacity="1.0" stroke-weight="2">
         </shape>
    </map>
        
    <ul id='example-messages' class='example-chat-messages'>
        <li ng-repeat='msg in list'>
            <strong class='example-chat-username'>{{msg.id}}</strong>{{msg.timestamp}}, Lat: {{msg.lat}}, Long: {{msg.long}}
        </li>
    </ul>
    </div>

    <script>
        var myApp = angular.module('myApp', ["firebase", 'ngMap']);
        
        function trimList( list ) {
            var listLen = list.length;
            for (var i = 0; i < 5; i++) {
                /*
                list.$remove(i).then(function(){
                    console.log(" removed!!!")
                });
                */
                var key = list[i].$id;
                var ref = new Firebase('https://forkiddemo.firebaseio.com/' + key); // retrieve a ref to the element
                ref.remove( function(){
                    console.log("Removed: " + key)
                }); // call remove on the element
                
            }
        }
        
        function generateIDList(list) {
            idList = [];
            // Get list of ids
            for( var i = 0; i < list.length; i++ ) {
                idList = updateIDList(idList, list[i]);
            }
            return idList;
        }
        
        function updateIDList(idList, element) {
            if( element == null )
                return idList;
            if( idList.indexOf(element.id.toString()) == -1 ) {
                idList[idList.length] = element.id.toString();
                //console.log(idList[idList.length-1]);
            }
            return idList;
        }
        
        function updatePath(list, key) {
            var lastIndex = list.$indexFor(key);
            var lastMovement = "";
            for (var i = lastIndex; i > (lastIndex - 100) && i >= 0; i--) {
                var element = list[i];
                if (lastMovement.toString() != "")
                    lastMovement += ",";
                lastMovement += "[" + element.lat;
                lastMovement += ", " + element.long + "]";
            }
            return lastMovement;
        }
        
        myApp.controller('MyController', ['$scope', '$firebase',
            function($scope, $firebase) {
                //CREATE A FIREBASE REFERENCE
                var ref = new Firebase("https://forkiddemo.firebaseio.com/").limit(105);
                var start = new Date().getTime();
                
                $scope.lastMessage = null;
                $scope.lastMovement = "[]";
                
                var list = $firebase(ref).$asArray();   

                
                var loaded = false; 
                $scope.currentID = "";
                $scope.idList = null; 
                $scope.selectedID = "";
                
                list.$loaded( function(x) {
                    if( !loaded ) {
                var end = new Date().getTime();
var time = end - start;
console.log('Execution time: ' + time);                    
                        // Check that list is not too big
                        //trimList(list);
                        $scope.idList = generateIDList(list, $scope.idList);
                        console.log("Message list length: " + list.length);
                        console.log($scope.idList.length);
                        for(var i = 0; i < $scope.idList.length; i++) {
                            console.log($scope.idList[i]);
                        }
                        $scope.lastMessage = list[list.length-1];
                        $scope.selectedID = $scope.idList[0];
                        $scope.lastMovement = updatePath(list, list[list.length-1].$id);
                        loaded = true;
                    }
                });
                list.$watch( function(event) {
                    console.log(event);
                    if( loaded ) {
                        if( event.event == "child_added" ) {
                            console.log($scope.selectedID);
                            var msg = list.$getRecord(event.key);
                            if( msg.id.toString() == $scope.selectedID ) {
                                $scope.lastMessage = msg;
                                $scope.lastMovement = updatePath(list, event.key);
                            }
                            //trimList(list);
                            if( $scope.lastMessage != null ) {
                                $scope.idList = updateIDList($scope.idList, $scope.lastMessage);
                            }
                        }
                        //console.log($scope.lastMovement);
                    }
                });
            }
        ]);
    </script>
</body>
</html>